.producto-img {
  max-width: 150px;
}

.producto {
  margin: 0;
}

.route {
  color: #9B9D9E;
}

.active-itemm {
  color: #ffff;
}

.item {
  border: rgb(68, 68, 68) 1px solid;
  border-radius: 10px;
  margin: 20px;
}